- test:
    timeout:
      minutes: {{ timeout }}
    definitions:
    - repository: {{ test_definitions }}
      from: url
      compression: zstd
      path: automated/linux/rcutorture/rcutorture.yaml
      name: rcutorture
      parameters:
        SKIP_INSTALL: 'true'

